.calendar{
    width:300px;;
    height: 260px;
    font-size: 10px;;
    /* background-color: rgb(226, 255, 255); */
    /* margin: 100px 100px 100px 100px; */
    /* padding: 60px 60px 60px 60px; */
    align-items: left;
}